<div id="contact-form">
    <form method="post" action="https://getform.io/f/412beb48-d2b7-4654-bd58-9a6059f48b90">
        <label for="name">Name: <span class="required">*</span></label>
        <input type="text" id="name" name="name" value="" placeholder="My name is..." required="required" autofocus="autofocus" />
        
        <label for="email">Email Address: 
        <input type="email" id="email" name="email" value="" placeholder="pilot@example.com" required="required" />
        
        <label for="telephone">Telephone: </label>
        <input type="tel" id="telephone" name="telephone" placeholder="(xxx) xxx-xxxx"value="" />
        
        <label for="enquiry">Type of Instruction: </label>
        <select id="enquiry" name="enquiry">
            <option value="flightReview">Flight Review</option>
            <option value="faaWings">FAA Wings Program</option>
            <option value="private">Private</option>
            <option value="instrument">Instrument</option>
            <option value="advanced">Commercial/CFI</option>
            <option value="groundInstruction">Ground Instruction</option>
            <option value="other">Other</option>
        </select>
        
        <input type="hidden" name="_gotcha" style="display:none !important">

        <label for="message">Message: 
        <textarea id="message" name="message" placeholder="Anything else you want me to know?"></textarea>
        
        <span id="loading"></span>
        <input type="submit" value="Submit" id="submit-button"/>
        <p id="req-field-desc"><span class="required">*</span> indicates a required field</p>
    </form>
</div>